<form (ngSubmit)="handleClick($event)">

<div *ngIf="model">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-3">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-home"></i></span>
            <input type="text" pInputText placeholder="Imię" required [(ngModel)]="model.imie" [ngModelOptions]="{standalone: true}">         
        </div>
    </div>
    
    <div class="ui-g-12 ui-md-3">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">ul.</span>
        <input type="text" pInputText placeholder="nazwisko" required [(ngModel)]="model.nazwisko" [ngModelOptions]="{standalone: true}">         
    </div>
    </div>
            
    <div class="ui-g-12 ui-md-3">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"></span>
        <input type="text" pInputText placeholder="Pesel" required [(ngModel)]="model.pesel" [ngModelOptions]="{standalone: true}">         
    </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <!-- <p-dropdown [options]="adres"  placeholder="Wybierz adres"  [showClear]="true" [(ngModel)]="model.adresId" [ngModelOptions]="{standalone: true}"
        (onChange)="onChange($event)" optionLabel="pelnyAdres">
      </p-dropdown>       -->

      <p-dropdown *ngIf="!model.adresId" [options]="adres" pInputText placeholder="Adres" filter="true" [(ngModel)]="model.adresId" [ngModelOptions]="{standalone: true}">
        <ng-template let-item pTemplate="SelectedItem">
            <span style="vertical-align:middle; margin-left: .5em">{{item?.label}}</span>
        </ng-template>
        <ng-template let-item pTemplate="item"> 
            {{item.label}}
          </ng-template>
      </p-dropdown>
      <p-dropdown *ngIf="model.adresId" [options]="adres" pInputText placeholder="model.adresId" [(ngModel)]="model.adresId" filter="true" [ngModelOptions]="{standalone: true}">
          <ng-template let-item pTemplate="SelectedItem">
              <span style="vertical-align:middle; margin-left: .5em">{{item?.label}}</span>
          </ng-template>
          <ng-template let-item pTemplate="item"> 
              {{item.label}}
            </ng-template>
        </p-dropdown>
    </div>
    </div>

  </div>
  <button pButton type="submit" label="Zapisz" ></button>
</div>
</form>
